.navbar{
    width: 100%;
    height: 60px;
    background-color:rgb(232, 234, 235);
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 30px;
  }

.navbar1{
  padding-bottom: 10px;
  padding-top: 10px;
}
.searchbar{
  display: inline-block;
  margin: auto;
  width: 80%;
}

.searchbarform{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 60px;
}
.searchbarform input{
  height: 20px;
  border:none;
  outline: none;
  background: transparent;
}
.searchbar button{
  width: 40px;
  height: 40px;
  outline:none;
  border: none;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.navbar-logo{
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 8px;
  }

.navbar-logo a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: bold;
  }
.btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    border: none;
   }
  .modalbtns{
    display: flex;
    gap:10px
  }
  .navbar-cart {
    margin-right: 30px;
    align-items: center;
    position: relative;
  }
  .navbar-cart a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 20px;
  }

  .badgecontainer{
    position: absolute;
    width: 100%;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    top: 60%;
    left: 80%;
  }

  .badge{
    position: absolute;
    top:-15%;
    width: 15px;
    height: 15px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .modalsignupbtn {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 90px;
  font-size:20px;
  font-weight: bold;
  background-color:  rgba(157, 105, 112,0.8);
  color: white;
  border-radius: 5px;
  cursor: pointer;
 }
.modalsignupbtn:active{
  background-color: rgb(157, 105, 112); 
}
 .modalloginbtn{
  background-color: transparent;
  border: none;
  font-size:25px;
  cursor: pointer;
 }

 .navbar2{
  display: flex;
  justify-content: center;
  height: 30px;
  padding-bottom: 10px;
}
.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.navbar-links a{
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 8px;
  color: black;
  font-size: 25px;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(157, 105, 112,0.8);
  transform-origin: bottom right;
  transition: transform 0.20s ease-out;
}

.navbar-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}